@import "header.css";

.box {
  width: 600px;
  height: 600px;
  border: 1px solid red;
}

.icon {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px;
}

.icon:hover {
  fill: white;
  background-color: black;
  /* border-color: white; */
}
